body { background-color: #fff; color: #333;}

body, p, ol, ul, td {
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

h1 {
	margin-bottom: 30px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#userArea {
	position: absolute;
	top:0;
	right:0;
	margin: 1em;
	padding: .5em 1em;
	border: 2px solid #333;
	background-color: #ddd;
	-moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  margin-left: 2em;
  list-style: square;
}

#flash {
  background: #42E15A;
  color: #225529;
  padding: 1em;
  margin: 1em 0;
  margin-right: 180px;
  border: 2px solid #225529;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#spinner {
  position: fixed;
  right: 10px;
  top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

/* performance index (list) */

#performance_list {
	border:none;
	border-spacing: 0;
}

#performance_list td, #performance_list th {
	padding: 5px 10px;
}

#performance_list thead tr {
	background-color: #444;
	color: #eee;
	text-align: left;
}

#performance_list tr.white {
	background-color: #fff;
}

#performance_list tr.gray {
	background-color: #eee;
}

#performance_list th a, #performance_list th a:visited {
	color: white;
	text-decoration: none;
}

#performance_list th a:hover {
	text-decoration: underline;
}

#performance_list td a, #performance_list td a:visited {
	font-weight: bold;
}

#performance_list th .current {
	text-decoration: underline;
	padding-right: ;
	background-repeat: no-repeat;
	background-position: right center;
}

#performance_list th .asc {
	/* background-image: url(...) */
}

#performance_list th .desc {
	/* background-image: url(...) */
}

/* performance show */

#show_performance {
	/* background-color: yellow; */
}

#show_performance ul.header_details {
	border-left: 1px solid gray;
	padding: 0 0 0 1em;
}

#show_performance .next {
	float: right;
	margin: 1em;
}

#show_performance .map {
	width: 48%;
	height: 200px;
	float: right;
	clear: right;
	margin: 1em;
	border: 1px solid #333;
	background-color: #ddd;
}

#show_performance .content_details {
	width: 48%;
	border: 1px solid gray;
	background-color: #ddd;
}

#show_performance .content_details p {
  padding: 0 0 0 10px;
}

#show_performance .footer {
	padding: 1em 0;
	clear:both;
}

table.mistakes {
  width: 48%;
}

table.mistakes td, table.mistakes th {
  vertical-align: top;
}

/* performance form */

#edit_performance li {
  overflow: hidden;
}

#edit_performance > ul > li {
  width: 100%;
}

#performance_name {
  width: 100%;
}

#contest_details,
#performance_details,
#contest_type > li,
#place_and_map li,
#performance_details ul li {
  float: left;
}

#contest_details,
#performance_details {
  width: 60%;
}

#date_picker {
  float:right;
}

#contest_type > li {
  width: 49%;
}

#place_and_map ul {
  width: 100%;
}
#place_and_map li {
  width: 33%;
}

#feeling {
  float: right;
  width: 33%;
}

#feeling label,
#priority label,
#contest_type label {
  display: block;
  width: 100%;
}

label:hover {
  background-color: yellow;
}

#performance_details {
  width: 65%;
}
#performance_details ul li {
  width: 50%;
}

/* user_session & user form */

#user_form {
	width: 500px;
}

#user_form form {
	padding: 1em;
	border: 2px solid #333;
	background-color: #ddd;
	-moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#user_form input[type="text"], #user_form input[type="password"] {
	border: 1px solid black;
	padding: 5px;

}
